@page "/"
@using System.Text.Json

<PageTitle>Countries List</PageTitle>

<UseGetContinents Context="result" Strategy="ExecutionStrategy.CacheFirst">
    <ChildContent>

        @{
            _continents = result.Continents.ToDictionary(continent => continent.Code, continent => new Continent(continent.Code, continent.Name, continent.Countries.Select(country => new PartialCountry(country.Code, country.Name)).ToList()));
        }

        <select @onchange="SelectContinent">
            <option value="" selected disabled>Select a continent</option>
            @foreach (var continent in result.Continents!)
            {
                <option value="@continent!.Code">@continent.Name</option>
            }
        </select>

        <input type="number" min="2" max="10" step="1" @onchange="ChangeNumberOfCountries" value="5"/>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br/>
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        <p>Loading continents...</p>
    </LoadingContent>
</UseGetContinents>

@if (_selectedContinent is not null)
{
    <h3>Random countries of @_selectedContinent</h3>

    <table class="table">
        <thead>
        <th>Official Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Currency</th>
        <th>Subregion</th>
        <th>Languages</th>
        </thead>
        <tbody>
        @foreach (var country in _selectedCountries)
        {
            <tr>

                @if (country.name is not null)
                {
                    <td>@country.name.official</td>
                }
                else
                {
                    <td>"No information found!"</td>
                }
                
                @if (country.capital.FirstOrDefault() is not null)
                {
                    <td>@country.capital.FirstOrDefault()</td>
                }
                else
                {
                    <td>"No information found!"</td>
                }
                
                @if (country.population is not null)
                {
                    <td>@country.population?.ToString("N0")</td>
                }
                else
                {
                    <td>"No information found!"</td>
                }
                
                @if (country.currencies.Values.FirstOrDefault()?.name is not null)
                {
                    <td>@country.currencies.Values.FirstOrDefault()?.name</td>
                }
                else
                {
                    <td>"No information found!"</td>
                }
                
                @if (country.subregion is not null)
                {
                    <td>@country.subregion</td>
                }
                else
                {
                    <td>"No information found!"</td>
                }
                <td>@string.Join(", ", country.languages.Values)</td>
            </tr>
        }
        </tbody>
    </table>
}
